OPEN_API_KEY=your-openai-api-key
CORS_ORIGINS=http://localhost:3000
# Optional: set your machine IP for testing from phone/other devices (e.g. 111.11.11.1)
DEV_HOST=

#set up for emails
#need to turn on 2FA on gmail, create app password for this to work
SMTP_HOST=#smtp.gmail.com
SMTP_PORT=#587
SMTP_USER=#yourgmail@gmail.com
SMTP_PASS=#your_16_char_app_password
